@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
}

html {
    background-color: #2c2c2c;
    position: fixed;
    width: 100%;
    height: 100%;
}

body {
    overflow: hidden;
}

.vignette {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width:100%;
    height:100%;
    background-image: url("assets/vignette.png");
    flex-grow: 1;
    opacity: 0.2;
    pointer-events: none;
}

.scanlines {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width:100%;
    height:100%;
    background-image: url("assets/scanlines.png");
    flex-grow: 1;
    opacity: 0.3;
    pointer-events: none;
}

.taskbar {
    width: 100%;
    height: 40px;
    background-color: #6e6e6e;
    position: relative;
    display: flex;
    color: white;
    align-items: center;
    font-size: 20px;
}

.taskbar-logo {
    height: 25px;
    width: 25px;
    background-color: #fff; 
    border-radius: 1000px; 
    position: absolute;
    top: 20%; 
    left: 10px;
    color: rgb(165, 165, 165);
    text-align: center;
}

.taskbar-text {
    color: white;
    margin-left: 40px;
}

.taskbar-text2 {
    color: white;
    margin-left: 44px;
    font-size: 14px;
}


.taskbar .right-menu {
    float: right;
    position: absolute;
    right: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.taskbar .right-menu .links a {
    height: 25px;
    transition: 0.4s;
}

.taskbar .right-menu .links a img {
    height: 25px;
    margin-top: 5px;
    transition: 0.4s;
}

.taskbar .right-menu .links a img:hover {
    background-color: #585858;
}











.desktop {
    position: absolute;
    top: 45px;
    left: 10px;
}

.application {
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    margin-top: 30px;
}

.application-icon {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 50px;
}

.application-name {
    color: white;
}

.background {
    display: block;
    opacity: 0.6;
    text-align: center;
    margin-top: 60px;
    pointer-events: none;
}

.background img {
    height: 450px;
    pointer-events: none;
}


.hidden-aboutme {
    display: none;
}
